 @font-face {
  font-family: "basisgrotesquepro";
  src: url("../../public/fonts/basisgrotesquepro-medium-webfont.woff2");
}
 @font-face {
  font-family: "suisseIntl";
  src: url("../../public/fonts/SuisseIntl-Light.woff2");
}
p{
  font-family: suisseIntl;
}
h2{
  font-family: basisgrotesquepro;
  font-weight: 1000;
}