@import "tailwindcss";

* {
  scroll-behavior: smooth;
  user-select: none;
}
body {
  overflow-x: hidden;
  width: 100%;
  background-color: #000000;
  color: white;
}
.bgred{
  background-color: #FB0401;
}
.red{
  color: #FB0401;
}
body::-webkit-scrollbar {
  display: none;
}
.scroller_none::-webkit-scrollbar {
  display: none;
}
button {
  cursor: pointer;
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.another-circle {
  stroke-dasharray: 227;
  stroke-dashoffset: 227;
  transition: stroke-dashoffset .5s linear;
}
.scroll-btn:hover .another-circle {
  stroke-dashoffset: 0;
}

[data-aos="clip"] {
  clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
  transition: clip-path 2s cubic-bezier(0.83,0,0.17,1);
}

[data-aos="clip"].aos-animate {
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}
.custom_scroller::-webkit-scrollbar{
  background-color: white;
  border-radius: 1000px;
  width: 5px;
}
.custom_scroller::-webkit-scrollbar-thumb{
  background-color: #FB0401;
  border-radius: 1000px;
}